body {
    margin: 0px;
    background-image: url(../images/Untitled\ design.png);
    background-size: cover;
}
.image {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.image img {
    width: 250px;
    height: auto;
    object-fit: contain;
    display: block;
}