body {
    margin: 0;
    background-image: url('https://res.cloudinary.com/dab2002/image/upload/f_auto,q_auto/v1743504988/bg_image_eglxt2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    will-change: transform; /* Optimize rendering */
    -webkit-font-smoothing: antialiased; /* Smoother text rendering */
    -moz-osx-font-smoothing: grayscale;
}
.locations {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}
.locations .location-content {
    text-align: center;
    display: grid;
}
.locations .location-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
}
.locations .location-content a:hover {
    cursor: pointer;
    text-decoration: underline;
}