body {
    margin: 0;
    background-image: url(../images/bg_image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.locations {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    text-align: center;
}
.locations .location-content {
    display: grid;
}
.locations .location-content h2 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.locations .location-content a {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.locations .location-content a:hover {
    cursor: pointer;
    text-decoration: underline;
}