header {
    width: 100%;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.nav .menu {
    position: relative;
    display: inline-block;
}
.nav .menu .toggle-icon #checkbox {
    display: none;
}
.nav .menu .toggle-icon .toggle {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition-duration: .5s;
}
.nav .menu .toggle-icon .toggle .bars {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}
.nav .menu .toggle-icon .toggle #bar2 {
    transition-duration: .2s;
}
.nav .menu .toggle-icon .toggle #bar1, #bar3 {
    width: 70%;
}
.nav .menu .toggle-icon #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
}
.nav .menu .toggle-icon #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}
.nav .menu .toggle-icon #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}
.nav .menu .toggle-icon #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}
.nav .menu .toggle-icon #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
    translate: 100px 0;
}
.nav .menu .toggle-icon .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 250px;
    z-index: 1;
    height: auto;
    padding: 10px;
}
.nav .menu .toggle-icon #checkbox:checked ~ .dropdown-content {
    display: block;
}
.nav a {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    margin: auto 0;
}
.nav h1 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.nav .currency-switcher #dropdown-toggle {
    display: none;
}
.nav .currency-switcher label span {
    color: #fff;
}
.nav .currency-switcher .currency-dropdown {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.currency-dropdown div {
    padding: 10px;
    cursor: pointer;
}
.currency-dropdown div:hover {
    background-color: #f0f0f0;
}
.currency-switcher #dropdown-toggle:checked + .button + .currency-dropdown {
    display: block;
}

@media only screen and (max-width: 614px) {
    .nav .menu .toggle-icon .toggle {
        width: 30px;
        height: 30px;
        gap: 6px;
    }
    .nav .menu .toggle-icon #checkbox:checked + .toggle {
        translate: 0;
    }
    .nav .menu .toggle-icon .dropdown-content {
        top: 40px;
        width: 100%;
        background-color: white;
        padding: 10px;
    }
    .nav .menu .toggle-icon .dropdown-content a {
        color: black;
    }
    .nav a {
        font-weight: 300;
        font-size: 1.2rem;
    }
    .nav h1 {
        font-weight: 300;
        font-size: x-large;
    }
}