header {
    width: 100%;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.nav .menu {
    position: relative;
    display: inline-block;
}
.nav .menu .icon {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
}
.nav .menu .icon:hover {
    cursor: pointer;
}
.nav .menu .dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    z-index: 1;
    height: auto;
    padding: 20px 10px;
}
.nav .menu:focus-within .dropdown-content {
    display: block;
}
.nav a {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    margin: auto 0;
}
.nav h1 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.nav .currency-switcher #dropdown-toggle {
    display: none;
}
.nav .currency-switcher label span {
    color: #fff;
}
.nav .currency-switcher .currency-dropdown {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.currency-dropdown div {
    padding: 10px;
    cursor: pointer;
}
.currency-dropdown div:hover {
    background-color: #f0f0f0;
}
.currency-switcher #dropdown-toggle:checked + .button + .currency-dropdown {
    display: block;
}

@media only screen and (max-width: 614px) {
    .nav a {
        font-weight: 300;
        font-size: 1.2rem;
    }
    .nav h1 {
        font-weight: 300;
        font-size: x-large;
    }
}