body {
    margin: 0px;
    background-image: url(../images/Untitled\ design.png);
    background-size: cover;
}
.product-section {
    display: grid;
    align-items: center;
    justify-content: center;
    /* height: 27.5rem; */
    width: 100%;
    aspect-ratio: 16 / 8;
    max-width: 800px;
    margin: auto;
}
.spacer60 {
    height: 100px;
}
.product-wrapper {
    display: flex;
    gap: 20px;
    width: 60rem;
    padding-bottom: 0.6rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
.product {
    scroll-snap-align: center;
    box-sizing: border-box;
    padding: 20px 30px;
    flex-shrink: 0;
    width: 300px;
    background-color: #927e7e;
    border-radius: 14px;
}

/* Custom Scrollbar for Webkit Browsers */
.partner-wrapper::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.partner-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.partner-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
.partner-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}