body {
    margin: 0px;
    background-image: url(../images/Untitled\ design.png);
    background-size: cover;
}
.size-chart h2 {
    text-align: center;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    letter-spacing: 1px;
}
.size-chart > .single-table {
    display: none;
}
.tables {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}
table {
    padding: 32px;
}
th, td {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 8px;
    width: 100px;
}
.spacer {
    height: 60px;
    width: 100%;
}
.product-section {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.product-wrapper {
    display: flex;
    gap: 1rem;
    width: 60rem;
    padding-bottom: 0.6rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
.product {
    scroll-snap-align: center;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 15rem;
    border-radius: 14px;
}
.product img {
    height: auto;
    width: 15rem;
}

/* Custom Scrollbar for Webkit Browsers */
.partner-wrapper::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.partner-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.partner-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
.partner-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 614px) {
    .size-chart > .tables {
        display: none;
    }
    .size-chart > .single-table {
        display: grid;
        color: white;
    }
    table {
        padding: 2px;
        text-align: center;
    }
    th, td {
        font-size: small;
        padding: 6px;
        width: 50px;
    }
    .size-chart h2 {
        font-size: large;
        letter-spacing: 0px;
    }
    .spacer {
        height: 30px;
    }
    .product-wrapper {
        gap: 0.4rem;
        width: 16rem;
        padding-bottom: 0.6rem;
    }
    .product {
        padding: 20px 30px;
        width: 16rem;
        border-radius: 14px;
    }
    .product img {
        width: 12rem;
    }
}